html, body{
    -webkit-overflow-scrolling: touch;
}

// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 300px #3d4142 inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white;
}


.wrap {
    overflow: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 100px;
    min-height: 100vh;
    @include breakpoint(xlarge down){
        padding-top: 82px;
    }
    @include breakpoint(small down){
        padding-top: 56px;
        margin-top: constant(safe-area-inset-top);
        margin-top: env(safe-area-inset-top);
        &::before{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #1d2125;
            height: constant(safe-area-inset-top);
            height: env(safe-area-inset-top);
            z-index: 15;
            transition: 400ms;
        }
        &.is-open-left{
            .header{
                box-shadow: none;
                transform: translateY(0);
                background: $black;
                &_inner{
                    box-shadow: inset 0 -1px 0 rgba($white, 0.15) !important;
                }
                &:not(.is_filled){
                    transition-delay: 200ms;
                    transition: background 200ms, transform 500ms;
                }
            }
            &::before{
                background: $black;
            }
        }
    }
}

.grid-container{
    width: 100%;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    letter-spacing: 0.32px;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 3px;
    z-index: -1;
    width: 24px;
    height: 24px;
    &:checked + label{
        &::before{
            // box-shadow: inset 0 0 0px #373b40;
            background-image: url('data:image/svg+xml;utf-8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.8805 6.29006L8.00047 12.1701L6.12047 10.2901C5.73047 9.90006 5.10047 9.90006 4.71047 10.2901C4.32047 10.6801 4.32047 11.3101 4.71047 11.7001L7.30047 14.2901C7.69047 14.6801 8.32047 14.6801 8.71047 14.2901L15.3005 7.70006C15.6905 7.31006 15.6905 6.68006 15.3005 6.29006C14.9105 5.90006 14.2705 5.90006 13.8805 6.29006Z" fill="#F67329"/></svg>');
        }
        &.item_calc_item{
            &::before{
                border-color: $secondary-color;
                background-image: url('data:image/svg+xml;utf-8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.8805 6.29006L8.00047 12.1701L6.12047 10.2901C5.73047 9.90006 5.10047 9.90006 4.71047 10.2901C4.32047 10.6801 4.32047 11.3101 4.71047 11.7001L7.30047 14.2901C7.69047 14.6801 8.32047 14.6801 8.71047 14.2901L15.3005 7.70006C15.6905 7.31006 15.6905 6.68006 15.3005 6.29006C14.9105 5.90006 14.2705 5.90006 13.8805 6.29006Z" fill="#313438"/></svg>');
                background-color: $secondary-color;
            }
        }
    }
    + label{
        user-select: none;
        display: inline-flex;
        &::before{
            content: '';
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            float: left;
            margin: 2px;
            margin-right: 12px;
            border: 2px solid $secondary-color;
            border-radius: 50%;
            background-position: center;
            background-size: 18px 18px;
            // box-shadow: inset 0 0 0 10px #373b40;
            transition: 250ms;
        }
        &.item_calc_item{
            &::before{
                border-color: #868e96;
            }
        }
    }
}

a{
    transition: 200ms;
}

svg{
    display: block;
}