html, body{
    -webkit-overflow-scrolling: touch;
}

// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 300px #3d4142 inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white;
}


.wrap {
    overflow: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 100px;
    min-height: 100vh;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    letter-spacing: 0.32px;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 3px;
    z-index: -1;
    width: 24px;
    height: 24px;
    &:checked + label{
        &::before{
            box-shadow: inset 0 0 0px #373b40;
            // box-shadow: inset 0 0 10px transparent;
        }
    }
    + label{
        user-select: none;
        display: inline-flex;
        &::before{
            content: '';
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            float: left;
            margin: 2px;
            margin-right: 12px;
            border: 2px solid $secondary-color;
            border-radius: 50%;
            background-position: center;
            background-size: 18px 18px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgMEM0LjQ4IDAgMCA0LjQ4IDAgMTBDMCAxNS41MiA0LjQ4IDIwIDEwIDIwQzE1LjUyIDIwIDIwIDE1LjUyIDIwIDEwQzIwIDQuNDggMTUuNTIgMCAxMCAwWk0xMCAxOEM1LjU5IDE4IDIgMTQuNDEgMiAxMEMyIDUuNTkgNS41OSAyIDEwIDJDMTQuNDEgMiAxOCA1LjU5IDE4IDEwQzE4IDE0LjQxIDE0LjQxIDE4IDEwIDE4Wk0xMy44OCA2LjI5TDggMTIuMTdMNi4xMiAxMC4yOUM1LjczIDkuOSA1LjEgOS45IDQuNzEgMTAuMjlDNC4zMiAxMC42OCA0LjMyIDExLjMxIDQuNzEgMTEuN0w3LjMgMTQuMjlDNy42OSAxNC42OCA4LjMyIDE0LjY4IDguNzEgMTQuMjlMMTUuMyA3LjdDMTUuNjkgNy4zMSAxNS42OSA2LjY4IDE1LjMgNi4yOUMxNC45MSA1LjkgMTQuMjcgNS45IDEzLjg4IDYuMjlaIiBmaWxsPSIjRjY3MzI5Ii8+PC9zdmc+);
            box-shadow: inset 0 0 0 10px #373b40;
            transition: 250ms;
        }
    }
}

a{
    transition: 200ms;
}

svg{
    display: block;
}