button {
    outline: none;
    cursor: pointer;
}

.button{
    letter-spacing: 0.32px;
    font-weight: 500;
    &.primary{
        box-shadow: 0 5px 20px rgba(34, 139, 230, 0.3), 0 2px 5px rgba(34, 139, 230, 0.3);
        &:hover, &:focus{
            box-shadow: 0 5px 20px rgba(34, 139, 230, 0.45), 0 2px 5px rgba(34, 139, 230, 0.6);
            background-color: $primary_dark;
        }
    }
    &.secondary{
        box-shadow: 0 5px 20px rgba(246, 115, 41, 0.25), 0 2px 5px rgba(246, 115, 41, 0.3);
        &:hover, &:focus{
            box-shadow: 0 5px 20px rgba(246, 115, 41, 0.45), 0 2px 5px rgba(246, 115, 41, 0.6);
            background-color: $secondary_dark;
        }
    }
    &.hollow{
        min-width: 220px;
        &.gray{
            border-color: #343a40;
        }
    }
    &.icon{
        &:not(.expanded){
            min-width: 220px;
        }
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        i{
            display: block;
        }
    }  
    i{
        display: none;
    }
}