.cols{
    color: rgba($white, 0.85);
    p{
        font-size: 15px;
        @include breakpoint(small down){
            font-size: 14px;
        }
    }
    &--about{
        margin-top: 86px;
        @include breakpoint(medium down){
            margin-top: 26px;
        }
    }
    &--solutions{
        margin-top: 62px;
        @include breakpoint(medium down){
            .cell{
                max-width: 610px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @include breakpoint(small down){
            margin-top: 40px;
            padding: 0 12px;
            .cell{
                max-width: 450px;
            }
        }
    }
    &--services{
        margin-bottom: 25px;
        @include breakpoint(medium down){
            max-width: 630px;
            margin: 0 auto 5px;

        }
    }
    &--item{
        @include breakpoint(small down){
            padding: 0;
        }
    }
}