.pagination{
    font-family: $header-font-family;
    font-weight: 500;
    font-size: 0;
    margin-top: 17px;
    li:not([class*="pagination"]) a, li.current{
        padding: 5px;
        width: 42px;
        height: 42px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    a, .current{
        border: 2px solid #495057;
    }
}