h1, .h1{
    letter-spacing: 0.64px;
}

h2, .h2{
    letter-spacing: 0.52px;
}

h3, .h3{
    padding-bottom: 12px;
    position: relative;
    letter-spacing: 0.36px;
    font-weight: 700;
    &.secondary{
        &::after{
            border-bottom-color: $secondary-color;
        }
    }
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 64px;
        border-bottom: 2px solid $primary-color;
    }
    &.lead{
        font-weight: 500;
    }
}