.documents{
    @include breakpoint(medium down){
        padding: 0 15px;
    }
    @include breakpoint(small down){
        padding: 30px 6px 0;
    }
    &_descr{
        @include breakpoint(medium down){
            max-width: 710px;
            margin: auto;
        }
        @include breakpoint(small down){
            max-width: 450px;
        }
    }
    &_items{
        margin-top: 94px;
        @include breakpoint(medium down){
            margin-top: 54px;
        }
        @include breakpoint(small down){
            justify-content: center;
            margin-top: 36px;
            padding: 0 12px;
        }
    }
    &_item{
        max-width: 430px;
        &:not(:nth-last-child(-n+2)){
            margin-bottom: 50px;
            @include breakpoint(medium down){
                margin-bottom: 28px;
            }
        }
        @include breakpoint(small down){
            &:not(:last-child){
                margin-bottom: 24px;
            }
        }
        &_bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 17px;
            font-size: 16px;
            font-family: $header-font-family;
            font-weight: 500;
            letter-spacing: 0.32px;
            line-height: 1.4;
            @include breakpoint(medium down){
                flex-direction: column;
            }
            @include breakpoint(small down){
                font-size: 14px;
            }
        }
        &_title{
            margin: 0;
            line-height: 1.4;
        }
        &_pdf{
            color: $medium-gray;
            @include breakpoint(medium down){
                margin-top: 8px;
            }
        }
    }
}