.footer{
    background-color: #212529;
    margin-top: auto;
    &_inner{
        max-width: 1440px;
        margin: auto;
        padding: 0 40px;
        @include breakpoint(xlarge down){
            padding: 0 25px;
        }
        @include breakpoint(small down){
            padding: 0 12px;
        }
    }
    &_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        box-shadow: inset 0 -1px 0 rgba($white, 0.05);
        @include breakpoint(medium down){
            flex-wrap: wrap;
            height: 168px;
        }
        @include breakpoint(small down){
            height: 98px;
            justify-content: center;
        }
    }
    &_nav{
        @include breakpoint(medium down){
            order: 1;
            width: 100%;
            margin: auto;
        }
        @include breakpoint(small down){
            display: none;
        }
        .menu{
            @include breakpoint(medium down){
                justify-content: space-between;
            }
            li{
                &:first-child a{
                    padding-left: 0;
                }
                &:last-child a{
                    padding-right: 0;
                }
            }
            a{
                @include breakpoint(large down){
                    padding: 0.7rem 10px;
                }
                @include breakpoint(medium down){
                    // padding: 0.7rem 26px;
                }
            }
        }
        
    }
    &_contact{
        display: none;
        font-family: $button-font-family;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.32px;
        @include breakpoint(medium down){
            display: block;
        }
        @include breakpoint(small down){
            display: none;
        }
    }
    &_button{
        @include breakpoint(small down){
            display: none;
        }
    }
    &_content{
        padding-top: 32px;
        @include breakpoint(large down){
            .footer{
                &_item{
                    margin: 0 1% 0 0;
                }
            }
        }
        @include breakpoint(medium down){
            justify-content: space-between;
            .footer{
                &_item{
                    margin: 0;
                    flex: 0 0 auto;
                }
            }
            .menu:not(.details){
                display: none;
            }
            .h3{
                padding: 0;
                // margin: 0;
                font-size: 16.5px;
                &::after{
                    display: none;
                }
            }
        }
        @include breakpoint(small down){
            padding-top: 35px;
        }
        .footer_item{
            @include breakpoint(small down){
                display: none;
            }
            &--last{
                @include breakpoint(medium down){
                    display: none;
                }
                @include breakpoint(small down){
                    display: block;
                    margin: auto;
                    max-width: 240px;
                    br{
                        display: none;
                    }
                }
            }
        }
    }
    &_item{
        margin: 0 3% 0 0;
        @include breakpoint(small down){
            margin: 0 auto 2px;
        }
        &--last{
            margin: 0 0 0 auto;
        }
        &--copy.shrink{
            @include breakpoint(large down){
                flex: 1 1 100%;
                text-align: center;
                margin: 0 0 10px;
            }
            @include breakpoint(small down){
                max-width: 289px;
                margin-bottom: 26px;
            }
        }
        &--powered{
            @include breakpoint(large down){
                margin: 0;
            }
            @include breakpoint(small down){
                margin-top: 30px;
            }
        }
        &_menu{
            font-size: 13px;
            font-family: $body-font-family;
            a{
                padding: 0;
                margin-bottom: 8px;
                line-height: inherit;
                color: rgba($white, 0.6);
            }
        }
    }
    &_bottom{
        box-shadow: inset 0 1px 0 rgba($white, 0.05);
        padding: 10px 0;
        margin-top: 22px;
        color: rgba($white, 0.6);
        @include breakpoint(large down){
            padding: 35px 0;
        }
        @include breakpoint(small down){
            margin-top: 35px;
            flex-direction: column;
            > .cell{
                flex: 0 0 auto;
            }
        }
        a{
            color: rgba($white, 0.6);
            text-decoration: underline;
            &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
}