.info{
    background: rgba($white, 0.0175);
    padding: 80px 15px 70px;
    margin-top: 96px;
    @include breakpoint(medium down){
        padding-bottom: 60px;
    }
    @include breakpoint(small down){
        margin-top: 56px;
        padding: 50px 6px 38px;
    }
    &_inner{
        @include breakpoint(medium down){
            max-width: 640px;
            margin: auto;
        }
        @include breakpoint(small down){
            max-width: 462px;
        }
    }
}