.item{
    @include breakpoint(small down){
        padding: 30px 18px 0;
    }
    &_content{
        margin-top: 87px;
        margin-bottom: 94px;
        @include breakpoint(medium down){
            margin-top: 50px;
        }
        @include breakpoint(small down){
            margin-top: 36px;
            margin-bottom: 50px;
        }
    }
    &_offers{
        padding-bottom: 10px;
        @include breakpoint(medium down){
            max-width: 610px;
            margin: auto;
        }
        @include breakpoint(small down){
            max-width: 450px;
        }
        &_header{
            padding: 0;
            &::after{
                display: none;
            }
        }
        &_list{
            margin: 16px 0;
            font-size: 15px;
            line-height: 1.3;
            @include breakpoint(small down){
                font-size: 1rem;
            }
            li{
                margin-bottom: 10px;
                display: flex;
                &::before{
                    content: '';
                    flex: 0 0 24px;
                    width: 24px;
                    height: 24px;
                    float: left;
                    margin-right: 10px;
                    background-image: url('data:image/svg+xml;utf-8,<svg width="18" height="14" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg"><path d="M6.00016 11.17L1.83016 7L0.410156 8.41L6.00016 14L18.0002 2L16.5902 0.59L6.00016 11.17Z" fill="#fff"/></svg>');
                    opacity: 0.6;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-top: -2px;
                }
            }
        }
    }
    &_case{
        @include breakpoint(medium down){
            max-width: 610px;
            margin: auto;
        }
        @include breakpoint(small down){
            max-width: 450px;
        }
        &_img{
            display: block;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            margin-bottom: 24px;
        }
        &_label{
            background: rgba(0, 0, 0, 0.6);
            border-radius: 13px;
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 3px 14px;
        }
        &_header{
            @extend .item_offers_header;
        }
        &_descr{
            margin-bottom: 22px;
            @include breakpoint(small down){
                br{
                    display: none;
                }
            }
        }
        &_bottom{
            @include breakpoint(small down){
                .button + .button{
                    margin-top: 18px;
                }
            }
        }
    }
    &_calc{
        border-radius: $global-radius;
        background-color: rgba($white, 0.07);
        position: relative;
        margin-top: -24px;
        @include breakpoint(medium down){
            max-width: 610px;
            margin: 0 auto 30px;
        }
        @include breakpoint(small down){
            max-width: 450px;
        }
        &_header{
            @extend .item_offers_header;
            margin: 0;
            padding: 23px 20px;
            border-bottom: 1px solid rgba($white, 0.05);
            @include breakpoint(small down){
                padding: 20px 16px;
            }
        }
        [type="checkbox"]{
            display: none;
        }
        &_item{
            &[for]{
                margin: 0 20px;
                padding: 20px 0;
                display: flex;
                color: $white;
                @include breakpoint(small down){
                    margin: 0 16px;
                    padding: 16px 0;
                }
                ~ .item_calc_item{
                    border-top: 1px solid rgba($white, 0.05);
                }
            }
            &_title{
                font-size: 15px;
                @include breakpoint(small down){
                    font-size: 1rem;
                }
            }
            &_price{
                font-family: $header-font-family;
                line-height: 1.22;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.36px;
                white-space: nowrap;
                margin-left: auto;
                @include breakpoint(small down){
                    font-size: 16px;
                }
            }
        }
        &_bottom{
            padding: 14px 20px;
            border-top: 1px solid rgba($white, 0.05);
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include breakpoint(small down){
                flex-direction: column-reverse;
            }
        }
        &_total{
            font-family: $header-font-family;
            font-size: 32px;
            letter-spacing: 0.64px;
            line-height: 1.28;
            @include breakpoint(small down){
                margin-bottom: 10px;
            }
        }
    }
}