.news{
    padding-top: 40px;
    @include breakpoint(small down){
        padding-top: 25px;
    }
    &--tabs{
        padding-top: 0;
    }
    &_header{
        margin-bottom: 26px;
    }
    &_inner{
        @include breakpoint(medium down){
            max-width: 640px;
            margin: auto;
        }
    }
    &_item{
        display: flex;
        flex-direction: column;
        @include breakpoint(small down){
            &.cell{
                max-width: 450px;
                margin: auto;
            }
        }
        &--spaced{
            margin-bottom: 37px;
        }
        + .news_item{
            @include breakpoint(medium down){
                margin-top: 47px;
            }
            @include breakpoint(small down){
                margin-top: 27px;
            }
        }
        &_descr{
            color: rgba($white, 0.6);
            margin-bottom: 20px;
            @include breakpoint(small down){
                margin-bottom: 17px;
            }
        }
        &_bottom{
            margin-top: auto;
            border-top: 1px solid rgba($white, 0.05);
            padding-top: 18px;
            display: flex;
            justify-content: space-between;
        }
        &_date{
            color: rgba($white, 0.6);
        }
    }
}