.solutions{
    padding: 46px 15px 20px;
    @include breakpoint(small down){
        padding: 30px 6px 18px;
    }
    &--services{
        padding: 86px 15px 28px;
    }
    &_descr{
        margin-bottom: 86px;
    }
    &_items{
        margin-top: 50px;
        @include breakpoint(small down){
            margin-top: 32px;
        }
    }
    &_item{
        border-radius: $global-radius;
        background: rgba($white, 0.07);
        padding: 33px 16px 16px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 290px;
        margin-bottom: 30px;
        @include breakpoint(small down){
            padding: 24px 4px 16px 12px;
            max-width: 220px;
            margin-bottom: 12px;
        }
        &_icon{
            height: 64px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            opacity: 0.4;
        }
        &_descr{
            color: rgba($white, 0.6);
            margin-bottom: auto;
            @include breakpoint(medium down){
                display: none;
            }
        }
        &_bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.32px;
            color: $medium-gray;
            font-family: $header-font-family;
            margin-top: 22px;
            @include breakpoint(small down){
                margin-top: 5px;
                font-size: 14px;
                letter-spacing: 0.28px;
            }
        }
    }
}