section.grid-container.about
    h1.text-center
        | О компании
    p.lead.text-center
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
        br
        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
        br
        | pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    +cols('about')