mixin foot_item(header, list)
    .cell.auto.footer_item
        h4.h3.secondary
            =header
        ul.menu.vertical.footer_item_menu
            each item in list
                li
                    a(href="./services_item.html")
                        =item

footer.footer
    .footer_inner
        .footer_top
            a.footer_logo(href="/")
                picture
                    source(media='(max-width: 1280px)' srcset='assets/img/logo_min.svg')
                    source(srcset='assets/img/logo.svg')
                    img(src='assets/img/logo.svg', alt='EGO Systems')
            nav.footer_nav
                +menu()
            .footer_contact
                a(href="tel:88126409137")
                    | 8 (812) 640-91-37
            .footer_button
                button.button.primary(data-open="popup")
                    | Бесплатная консультация
        .grid-x.footer_content
            +foot_item('Охрана бизнеса', [
                'Тревожная и охранная сигнализация', 
                'Организация контрольно-пропускного режима', 
                'Физическая охрана',
                'Установка систем видеонаблюдения'])
            +foot_item('Охрана квартир', [
                'Тревожная и охранная сигнализация', 
                'Установка систем видеонаблюдения'])
            +foot_item('Охрана коттеджей', [
                'Тревожная и охранная сигнализация', 
                'Установка систем видеонаблюдения',
                'Физическая охрана'])
            +foot_item('Личная охрана', [
                'Телохранители', 
                'Охрана VIP клиентов',
                'Сопровождение'])
            .cell.shrink.foot_item.footer_item--last
                +details('footer')

        .grid-x.align-middle.align-center.footer_bottom
            p.cell.shrink.footer_item.footer_item--copy
                | Copyright © 2018, ЭГО-Система. Копирование материалов строго запрещено
            a.cell.shrink.footer_item(href="#")
                | Лицензионное соглашение
            a.cell.shrink.footer_item(href="#")
                | Политика конфиденциальности
            a.cell.shrink.footer_item.footer_item--last.footer_item--powered(href="https://zig-zag.agency/" target='_blank')
                | Design by Zig-Zag