header.header
    .header_inner
        a.header_logo(href="/")
            img(src="/assets/img/logo.svg", alt="EGO Systems")
        nav.header_nav
            +menu
        .header_contact
            a(href="tel:88126409137")
                | 8 (812) 640-91-37
        .header_button
            a.button.primary(href="#")
                | Бесплатная консультация