header.header
    .header_inner
        button.header_hamb(data-toggle="menu")
            svg.header_hamb_icon(viewBox='0 0 100 100')
                path.header_hamb_line.header_hamb_line--top(d='m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20')
                path.header_hamb_line.header_hamb_line--middle(d='m 30,50 h 40')
                path.header_hamb_line.header_hamb_line--bottom(d='m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20')

        a.header_logo(href="/")
            picture
                source(media='(max-width: 1280px)' srcset='assets/img/logo_min.svg')
                source(srcset='assets/img/logo.svg')
                img(src='assets/img/logo.svg', alt='EGO Systems')
        nav.header_nav
            +menu
        .header_contact
            a(href="tel:88126409137")
                | 8 (812) 640-91-37
        .header_button
            button.button.primary(data-open="popup")
                span Бесплатная консультация
                i
                    +icon('chat', [24, 24], '#fff')