mixin news(mod)
    .cell.news_item(class=mod ? `news_item--${mod}` : false)
        a.h3.lead.secondary
            | In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        p.news_item_descr
            | Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
        .news_item_bottom
            time.news_item_date(datetime="10.07.2018")
                | 10.07.2018
            a.news_item_more(href="#")
                | Читать далее
- const news_header = 'Новости и события';

section.grid-container.news(class=(page == 'news') ? 'news--tabs' : false)
    if page == 'news'
        h1.text-center.news_header
            =news_header
        ul.tabs(role="tablist")
            li.tabs-title.is-active(role="presentation")
                a(href='#', aria-selected='true' role="tab")
                    | Новости
            li.tabs-title(role="presentation")
                a(href='#' role="tab")
                    | Кейсы
        .grid-x.grid-margin-x.align-center.large-up-2(role="tabpanel")
            each _ in Array(10)
                +news('spaced')
        
        nav(aria-label='Пагинация')
            ul.pagination
                li.current
                    | 1
                li
                    a(href='#', aria-label='Страница 2') 2
                li
                    a(href='#', aria-label='Страница 3') 3
                li
                    a(href='#', aria-label='Страница 4') 4
                li.pagination-next
                    a(href='#', aria-label='Следующая страница')
                        | Следующая

    else
        h2.text-center
            =news_header
        .grid-x.grid-margin-x.large-up-3.news_inner
            each _ in Array(3)
                +news