section.text
    .grid-container
        .grid-x.grid-margin-x.align-center
            .cell.medium-10
                h1.text-center
                    | Тревожная и охранная сигнализация
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                p
                    | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                figure
                    img(src='//picsum.photos/770/500?random' alt='Lorem ipsum dolor sit amet, consectetuer adipiscing elit.')
                    figcaption
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                p
                    | Donec pede justo, fringilla vel, aliquet 
                    strong nec, vulputate eget
                    | , arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                h2.text-center
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    strong Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    | 
                    | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                ul
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                ol
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    i Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                h3.text-center
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis 
                    a(href="#") parturient montes
                    | , nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

                img(src=`//picsum.photos/770/500` alt='Lorem ipsum dolor sit amet, consectetuer adipiscing elit.')

                blockquote
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                hr
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.