mixin menu(mod)
    -
        const menu = [
            {
                title: 'О компании',
                link: 'about'
            },
            {
                title: 'Преимущества',
                link: 'advantages'
            },
            {
                title: 'Услуги',
                link: 'services'
            },
            {
                title: 'Новости и события',
                link: 'news'
            },
            {
                title: 'Контакты',
                link: 'contacts'
            }
        ]

    ul.menu(class=mod)
        each item in menu
            li
                a(href=`${item.link}.html`)
                    =item.title
        