mixin offer(mod)
    .cell.offers_offer
        h3.offers_offer_title
            | Lorem ipsum 
            =mod
        p.offers_offer_descr
            | In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.