#popup.reveal(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    +contact('popup')
    button.reveal_close(aria-label='Закрыть' data-close)
        +icon('close', [24, 24], '#fff')