extends ../_layout
block const
    -
        const page = 'about'
        const name = 'О компании'
block content
    include ../sections/_about
    include ../sections/_partners
    include ../sections/_news
    include ../sections/_questions