extends ../_layout
block const
    -
        const page = 'main'
        const name = 'Главная'
block content
    include ../sections/_solutions
    include ../sections/_offers
    include ../sections/_partners
    +contact
    include ../sections/_projects
    include ../sections/_news
    include ../sections/_info
    include ../sections/_questions