extends ../_layout
block const
    -
        const page = 'services'
        const name = 'Услуги охраны'
block content
    include ../sections/_solutions
    include ../sections/_news
    include ../sections/_questions